<div class="header">
  <h1>Players</h1>
</div>

<label ng-repeat="(position, val) in playersCtrl.positionFilters" class="checkbox-inline">
  <input type="checkbox" ng-model="playersCtrl.positionFilters[position]" ng-change="playersCtrl.saveFilters()"> {{position}}
</label>

<div class="pull-right">
  <label class="checkbox-inline">
    <input type="checkbox" ng-model="playersCtrl.taken" ng-change="playersCtrl.saveFilters()"> Include Taken?
  </label>
</div>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Pos</th>
      <th>Proj Points</th>
      <th>VORP</th>
      <th>Suggested Bid</th>
      <th>Bid</th>
      <th>Team</th><th>Pos</th>
      <th>Pass Yards</th><th>Pass TDs</th><th>Int</th>
      <th>Rush Yards</th><th>Rush TDs</th><th>Fum</th>
      <th>Rec Yards</th><th>Rec TDs</th><th>Rec</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="player in playersCtrl.players  | filter:playersCtrl.positionFilter() | orderBy:'-Suggested_Bid'"
     ng-class="{danger: player.actual > 0}">

      <td>
        <a ui-sref="channels.editPlayer({playerId: player.$id})">{{$index + 1}}) {{player.Last_Name}}, {{player.First_Name}}  </a>
      </td>
      <td>{{player.Position}}</td>
      <td>{{player.Projected | number:0}}</td>
      <td>{{player.Vorp | number:0}}</td>
      <td>
        <div ng-if="!player.actual">
          {{player.Suggested_Bid | number:0}}
        </div>
      </td>
      <td style="text-align:center">
        <input style="width:50px" type="number" ng-model="player.actual" ng-change="playersCtrl.save(player)" ng-model-options="{updateOn: 'blur'}">
      </td>
      <td>{{player.Team}}</td><td>{{player.Position}}</td>
      <td>{{player.Pass_Yards | number:0}}</td><td>{{player.Pass_TDs | number:0}}</td><td>{{player.Pass_Ints | number:0}}</td>
      <td>{{player.Rush_Yards | number:0}}</td><td>{{player.Rush_TDs | number:0}}</td><td>{{player.Fumbles_Lost | number:0}}</td>
      <td>{{player.Rec_Yards | number:0}}</td><td>{{player.Rec_TD | number:0}}</td><td>{{player.Receptions | number:0}}</td>

    </tr>
  </tbody>
</table>

