<div class="header">
  <h1>{{gameCtrl.game.First_Name}} {{gameCtrl.game.Last_Name}}</h1>
</div>

<table class="table table-condensed table-hover">
  <tbody>
    <tr>
      <th>Projected Points</th><td>{{gameCtrl.game.Projected | number:0}}</td>
    </tr>
      <tr>
        <th>Last Name</th>
        <td>
          <input type="text" ng-model="gameCtrl.game.Last_Name" ng-change="gameCtrl.save()" ng-model-options="{updateOn: 'blur'}"/>
        </td>
      </tr>

    <tr>
      <th>
        First Name
      </th>
      <td>
        <input type="text" ng-model="gameCtrl.game.First_Name" ng-change="gameCtrl.save()" ng-model-options="{updateOn: 'blur'}"/>
      </td>
    </tr>

    <tr>
      <th>
        Team
      </th>
      <td>
        <input type="text" ng-model="gameCtrl.game.Team" ng-change="gameCtrl.save()" ng-model-options="{updateOn: 'blur'}"/>
      </td>
    </tr>

    <tr>
      <th>
        Position
      </th>
      <td>
        <input type="text" ng-model="gameCtrl.game.Position" ng-change="gameCtrl.save()" ng-model-options="{updateOn: 'blur'}"/>
      </td>
    </tr>

    <tr>
      <th>
        Pass Yards
      </th>
      <td>
        <input type="number" ng-model="gameCtrl.game.Pass_Yards" ng-change="gameCtrl.save()" ng-model-options="{updateOn: 'blur'}"/>
      </td>
    </tr>

    <tr>
      <th>
        Pass TDs
      </th>
      <td>
        <input type="number" ng-model="gameCtrl.game.Pass_TDs" ng-change="gameCtrl.save()" ng-model-options="{updateOn: 'blur'}"/>
      </td>
    </tr>


    <tr>
      <th>
        Interceptions
      </th>
      <td>
        <input type="number" ng-model="gameCtrl.game.Pass_Ints" ng-change="gameCtrl.save()" ng-model-options="{updateOn: 'blur'}"/>
      </td>
    </tr>

    <tr>
      <th>
        Rush Yards
      </th>
      <td>
        <input type="number" ng-model="gameCtrl.game.Rush_Yards" ng-change="gameCtrl.save()" ng-model-options="{updateOn: 'blur'}"/>
      </td>
    </tr>

    <tr>
      <th>
        Rush TDs
      </th>
      <td>
        <input type="number" ng-model="gamesCtrl.game.Rush_TDs" ng-change="gameCtrl.save()" ng-model-options="{updateOn: 'blur'}"/>
      </td>
    </tr>

    <tr>
      <th>
        Fumbles
      </th>
      <td>
        <input type="number" ng-model="gameCtrl.game.Fumbles_Lost" ng-change="gameCtrl.save()" ng-model-options="{updateOn: 'blur'}"/>
      </td>
    </tr>

    <tr>
      <th>
        Receiving Yards
      </th>
      <td>
        <input type="number" ng-model="gameCtrl.game.Rec_Yards" ng-change="gameCtrl.save()" ng-model-options="{updateOn: 'blur'}"/>
      </td>
    </tr>

    <tr>
      <th>
        Receiving TDs
      </th>
      <td>
        <input type="number" ng-model="gameCtrl.game.Rec_TD" ng-change="gameCtrl.save()" ng-model-options="{updateOn: 'blur'}"/>
      </td>
    </tr>

    <tr>
      <th>
        Receptions
      </th>
      <td>
        <input type="number" ng-model="gameCtrl.game.Receptions" ng-change="gameCtrl.save()" ng-model-options="{updateOn: 'blur'}"/>
      </td>
    </tr>
  </tbody>
</table>

